body
{
    font-family:helvetica;
}

#meter_wrapper
{
    border:1px solid grey;
    margin-top:1px;
    width:200px;
    height:35px;
    border-radius:3px;
}
#meter
{
    width:0px;
    height:35px;
    border-radius:
}
#pass_type
{
    font-size:20px;
    margin-top:20px;
    margin-left:45%;
    text-align:center;
    color:grey;
}